body {
    background-image: url('../imagem/bg-repeat.jpg'); 
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 50px;
    gap: 60px;
    align-items: center;
    height: 100vh;
}

.descricao-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    max-width: 300px;
    color: #ffffff;
}

.descricao-mensagem h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.formulario {
    width: 400px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
}

.formulario input {
    max-width: 300px;
    /* margin-bottom: 15px; */
    font-weight: 700;
    height: 35px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.formulario input::placeholder {
    color: #A8A8A8;
}

.formulario .email, .telefone, .mensagem {
    margin-top: 15px;
}

.formulario .mensagem {
    height: 100px;
    position: relative;
}

.formulario .mensagem::placeholder {
    position: absolute;
    top: 8px;
}

.formulario .campos-obrigatorios {
    margin-top: 7px;
    margin-bottom: 20px;
}

.formulario .submit {
    border: none;
    background-color: #3CCC87;
    color: #ffffff;
    cursor: pointer;
    max-width: 300px;
    height: 35px;
}

/* MENSAGEM DE INVALIDAÇÃO */
.campo-obrigatorio {
    font-size: 8px;
    color: #F52E2E;
    display: none;
}

/* MENSAGEM DE VALIDAÇÃO */
.campo-valido {
    border: 1px solid #00C22B;
}